/* reglas  */
/* selectores */
/* declaraciones */
/* valores */
/* propiedades */

/* body {
  margin: 0;
       
  background: #AF4034
} */

/* selector de estiqueta .. header - article - nav*/
/* selector decendente */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  border: 10px solid #0b3a42;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300; 
}

h1 {
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -.2px;
  text-transform: uppercase;  
}
.project-details {
  width: 500px;
}
.image-container {
  width: 500px;
}
.header {
  padding: 10px;
  background-color: #1abc9c;
}

.header h1 {
  margin: 0 0 0 12px;
}